<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceFlexApp"
        tools:targetApi="31">

        <!-- Login Activity as Launcher -->
        <activity
            android:name=".common.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ServiceFlexApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".auth.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- RegisterAs Activities -->
        <activity
            android:name=".common.RegisterAsActivity"
            android:exported="false" />

        <!-- Main Activity for Provider -->
        <activity
            android:name=".provider.ProviderMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BottomNavActivityPractice" />

        <!-- Common Activities -->
        <activity
            android:name=".common.ConsumerRegistrationActivity"
            android:exported="true" />

        <activity
            android:name=".common.ProviderRegistrationActivity"
            android:exported="true" />

        <activity
            android:name=".common.ForgotPasswordActivity"
            android:exported="true" />

        <!-- Consumer Activities -->
        <activity
            android:name=".consumer.ConsumerMainActivity"
            android:exported="false" />


        <!--paypal-->
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.paypal.android.sdk.payments.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"
            android:exported="false" />

    </application>

</manifest>