<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomNavActivityPractice"
        tools:targetApi="31">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".provider.ProviderMainActivity"
            android:exported="true"
            android:theme="@style/Theme.BottomNavActivityPractice"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Consumer Activities -->
        <activity android:name=".consumer.ConsumerProfileActivity" android:exported="true" />
        <activity android:name=".consumer.ConsumerInboxActivity" android:exported="true" />
        <activity android:name=".consumer.ConsumerHomeActivity" android:exported="true" />
        <activity android:name=".consumer.ConsumerBookingsActivity" android:exported="true" />

        <!-- Common Activities -->
        <activity android:name=".common.ProviderRegistrationActivity" android:exported="true" />
        <activity android:name=".common.LoginActivity" android:exported="true" />
        <activity android:name=".common.ForgotPasswordActivity" android:exported="true" />
        <activity android:name=".common.ConsumerRegistrationActivity" android:exported="true" />
    </application>
</manifest>
